body {
	width: 1040px;
	margin: auto;
	 
}
header {
	
	
	min-height: 200px;
	
	
	background-color: #2ecc71 ;
	background: url("../images/shapkaback.jpg") no-repeat;
	background-size: 100% 100%;
	
}

.lang { 
		float: right;
		width: 320px;
		height: 30px;
		}

.shapka div {
	
	
	margin: 10px;
}
.logo {
	float: left;
	width: 120px;
	height: 160px;
}
.status {
	padding: 0px;
	
	float: left;
	width: 360px;
	height: 80px;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: rgba(0, 0, 255, 0.6);
	line-height: 0.8em;
	font-family: "Book Antiqua", "Arial", sans-serif;
	
		}
		
.lang {
	text-align: right;
	margin-bottom: 20px;
}
.name {
	
	width: 470px;
	height: 100px;
	float: right;
	padding: 0;
	font-family: "Book Antiqua", sans-serif;
	font-style: italic;
		 font-size: 100px;
		 font-weight: bold;
	color: RGBA(255,0,0,0.8);
	text-align: left;
	
	}
	

	
	
.shapka::after {
	content: "";
	display: table;
	clear: both;}


.menu li {
		float: left;
		width: 100px;
		background-color: green;
		border-radius: 30px;
		
		text-align: center;
		
}
.menu li a {
	text-decoration: none;
}
.menu {
	list-style: none;
	width: 916px;
	margin: auto;
	margin-top: 10px;
	
	}
.menu::after  {
	content: "";
	display: table;
	clear: both;
}
.main {
	border: 2px solid black;
	background: #00ff00 url("../images/IMG_0044.jpg") no-repeat 50%;
	background-size: 100%, 100%;
	
	height: 1000px;
}
.sheet {
	width: 1000px;
	height: 100px;
	background-color: blue;
	color: red;
	margin: 10px auto;
}
}