body {
	width: 1040px;
	margin: auto;
	 
}
header {
	
	
	min-height: 200px;
	
	
	background-color: #2ecc71 ;
	background: url("../shapkaback.jpg") no-repeat;
	background-size: 100% 100%;
	
}

.lang { 
		float: right;
		width: 320px;
		height: 30px;
		}
div { border: 1px solid red;}
.shapka div {
	
	
	margin: 10px;
}
.logo {
	float: left;
	width: 120px;
	height: 160px;
}
.status {
	float: left;
	width: 500px;
	height: 80px;
	font-size: 20px;
	text-align: center;
	
		}
.lang {
	text-align: right;
}
.name {
	width: 320px;
	height: 100px;
	float: right;
	text-align: center;
	
	font-size: 30px;
	}
.shapka::after {
	content: "";
	display: table;
	clear: both;}


.menu li {
		float: left;
		width: 100px;
		background-color: green;
		border-radius: 30px;
		
		text-align: center;
		
}
.menu li a {
	text-decoration: none;
}
.menu {
	list-style: none;
	width: 916px;
	margin: auto;
	margin-top: 10px;
	border: 1px solid black;
	}
.menu::after  {
	content: "";
	display: table;
	clear: both;
}
.main {
	border: 2px solid black;
	background: #00ff00 url("images/#");
	height: 1000px;
}
.sheet {
	width: 1000px;
	height: 100px;
	background-color: blue;
	color: red;
	margin: 10px auto;
}
}